<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!--Config setting for Merging of TRX files only-->
  <add key="FilesToMergeDir" value="D:\TestResults"/>
  <add key="MergedFileName" value="AutomationResult"/>
  <add key="FilesToMoveAfterMergeDir" value="D:\TestResults\Merged"/>
  <add key="TrxFile" value=""/>                                                     <!--This Key Value is used as input file for generating html report-->  
  <!--Config setting for Merging of TRX files only-->

  <!--Config setting for Generating Html File name from TRX file only.-->
  <!--Need to give only output filename with path and without file extension-->
  <add key="HtmlOutputFile" value="D:\TestResults\AutomationReport"/>               
  <add key="EmailFile" value="D:\TestResults\AutomationReport_email.html"/>         <!--This Key Value is used as input file for sending html email report-->
  <add key="ReportFile" value="D:\TestResults\AutomationReport.html"/>
  <!--Config setting for Generating Html File name from TRX file only.-->

  <!--Config setting for Sending email or not .-->
  <add key="emailReport" value="true"/>
  <add key="emailReportSubject" value="Automation report :- "/>
  
  <add key="EmailAddressesTo" value="kanchan.sharma@ondemandagility.com,kanchan.sharma@outlook.com"/>
  <!--<add key="EmailAddressesCc" value="kanchan.sharma@outlook.com"/>
  <add key="EmailAddressesBcc" value="kanchan.sharma@outlook.com"/>-->
  <!--Config setting for Sending email or not .-->

  <!--Config setting for storing Html File in database.-->
  <add key="storeInDatabase" value="true"/>

  <!--Config setting for HtmlReport stored at common location used for Dashboard.-->
  <add key="GenerateReportFromDatabase" value="false"/>
  <add key="commonreportlocation" value="\\ODA-L-011\TestResults"/>
  <add key="ReportNo" value="1"/>
  <!--Config setting for HtmlReport stored at common location used for Dashboard.-->
</appSettings>